@import url('https://fonts.googleapis.com/css2?family=Lato&family=Outfit:wght@400;600&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-family: 'Outfit', sans-serif;
  transition: 0.4s;
  user-select: none;
}
body {
  min-width: 389px;
}
.container {
  margin: auto;
  width: auto;
  text-align: center;
}

.card {
  width: 70%;
  height: 6rem;
  background-color: white;
  border-radius: 0.3em;
  box-shadow: 3px 3px 3px 2px rgb(179, 179, 179), -3px -3px 4px 4px #fff;
  margin: 0.4em auto;
  padding: 0.4em;
}
a {
  user-select: initial;
}
